<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    
    <title>Document</title>
</head>
<body>
    <h1>Weather</h1>
    {{>header}}
    <br>
    <h4> Use this site to get real time Weather of your location</h4>
    <br>
    <form action="">
        <input type="text" name="" id="">
        <button>Search</button>
    </form>
    <p id="ans1"></p>
    <p id="ans2"></p>
    {{>footer}}
    <script src="js/render.js"></script>
</body>
</html>